body{
    margin:0;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 400px;
}

input{
    width:100%;
    overflow: hidden;
    margin-bottom: 15px;
}

button{
    background: green;
    color: beige;
    padding:12px;
    border: none;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    width:500px;
}